.slideshow-container{
    height:100vh;
    width:100vw;
    max-width:100%;
    overflow-x:hidden;
}

.img-slideshow{
    height:100vh;
    width:100vw;
    max-width:100%; /* verhindert, dass das Bild seitlich vom Scrollbalken verdeckt wird */
    object-fit: cover;
    animation: zoomIn 8s infinite ease;
}

@keyframes zoomIn{
    from{
        transform:scale(1);
    }
    to{
        transform:scale(1.2);
    }

}