   <!-- LOKALE INSTALLATION (PROJEKTEBENE):    npm install material-design-lite --save                          -->
   <!-- LOKALE INSTALLATION (PROJEKTEBENE):    npm install bootstrap                                            -->
   <!-- GLOBALE INSTALLATION ( g -> AUF COMPUTER):    npm install typescript -g    ODER   npm install -g typescript (weiter mit 'tsc script.ts --target es7')  -->
   <!-- GLOBALE INSTALLATION ( g -> AUF COMPUTER):    npm install jsdoc -g    -->
   <!-- GLOBALE INSTALLATION ( g -> AUF COMPUTER):    npm install sass -g    (weiter mit 'sass') -->

   <!-- ANGULAR VORRAUSSETZUNGEN & INSTALLATIONSSCHRITTE -->
   <!-- HTML, CSS & JavaSCript beherrschen (TypeScript nicht so wichtig) -->
   <!-- Node.js & NodePackageManager installieren: -> Versionen gucken: node --version  ODER  npm --version -->
   <!-- Angular CLI installieren: npm install -g @angular/cli -->
   <!-- Neues Angular Projekt im Ordner "AngularHomepage" erstellen (!cmd als Administrator ausführen!): ng new AngularHomepage -->
   <!-- google-publishing: N   ;   routing: Y   ;   scss: ENTER   ;   Wenns hängt dann "ENTER" oder "Zeichen Delete" drücken -->
   <!-- FERTIG: Angular Projekt wurde erstellt! -->

   <!-- STRUKTUR: -->
   <!-- node_modules: vollgeladen -->
   <!-- src: Quellcode-Dateien -> WICHTIGSTER ORDNER: "src/app" -> Enthält HTML,SCSS,TS und Test-Datei -->
   <!-- .gitignore: Alles was nicht auf git hochgeladen wird ist mit "/" gekennzeichnet, z.B. node_mondules -->
   <!-- package.json: listet alle benötigten libraries ("dependencies") auf; "npm install" installiert alles was hier gelistet ist, falls es noch nicht installiert wurde (package-lock.json) -->
   <!-- package-lock.json: listet alle libraries ("dependencies") auf, die bereits installiert wurden -->
   <!-- angular.json: System-Einstellungen von Angular -->
   <!-- README.md: Zum lesen -->
   <!-- Weitere Jsons: erstmal nicht wirklich wichtig -->
   <!-- e2e-Ordner: Automatische Tests ausführen (wenn nicht vorhanden: ng e2e "AngularHP" ausführen) -->

   <!-- STARTEN DER APP -->
   <!-- Statt index.html mit Live-Server öffnen -> "ng serve --open" ausführen (!mit cmd als Administrator ausführen!) -->
   <!-- ODER "ng serve --open" in VS-Code ausführen (vorher ng.ps1 unter C:\Users\Tobias\AppData\Roaming\npm löschen) -->

   <!-- NEUE KOMPONENTE ERSTELLEN -->
   <!-- "ng g c slideshow" in VS-Code ausführen  (g=generate;c=component) -->

   <!-- KOMPONENTE LÖSCHEN -->
   <!-- Einfach Ordner & Bezüge löschen und die Eintragung in app.module.ts (Imports und Declarations) löschen -> server neu starten -->

   <!-- ROUTE HINZUFÜGEN -->
   <!-- Eintragung in app-routing.module.ts (Im Routes-Array) vornehmen und oben bei 'Import' -->
   <!-- <router-outlet></router-outlet> in app.component.html  -> Leitet zur entsprechenden Route   -->
   <!-- routerLink="/"   statt href="" -->

   <!-- Input-Parameter für eine Componente -->
   <!-- HTML-Element eine Klasse zuweisen, wenn Variable = true:   <div [class.darkLinks]="darkMode">    -->
   <!-- ts-File: @Input() darkMode=true & imports{} anpassen   DANN: Variable von außen übergeben ->  <app-menu [darkMode]="false"></app-menu> -->
   
   <!-- HTML-Seite veröffentlichen  -->
   <!-- 'ng build --configuration production' (früher: 'ng build --prod') -> Wandelt alles in kleine Dateien um! -->
   <!-- dist-Ordner enthält dann unsere Seite mit allen Dateien die wir brauchen ABER vorher noch Pfad setzen in index.html, z.B. <base href="/Modul%2012%20-%20Angular/index.html"> -->
   <!-- Web-Browser speichert JS & CSS-Dateien zwischen nach dem ersten Seiten-Aufruf bzw. Download vom Web-Server  -->
   <!-- Komische Datei-Kürzel ändern sich mit jeder Seiten-Version, sodass der Datei-Server  -->

   <!-- Funktionen  -->
   <!-- *ngIf="darkMode": Wenn Variable darkMode=true, dann wird das HTML-Element dargestellt  -->
   <!-- [darkMode]="router.url !== '/'": Componente bekommt die Variable darkMode übergeben (Variable ist true oder false je nachdem ob wir uns auf der Startseite befinden oder nicht) -->
   <!-- [class.container]="router.url !== '/'": DIV bekommt die Klasse container, aber nur wenn es nicht die Startseite ist-->


<app-menu [darkMode]="router.url !== '/'"></app-menu> 

<div [class.container]="router.url !== '/'"> 
   <router-outlet></router-outlet>
</div>

